body {
    margin: 0;
    padding: 0;
    height: 668px;
    width: 100%;
    background-image: url("assets/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    color: #ffffff;
    background-attachment: fixed;
    height: 697px;
    background-color: rgba(14, 13, 13, 0.8);
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 22px;
}

.heading {
    text-align: center;
    margin-bottom: -13px;
}

h1 {
    font-size: 43px;
    padding-right: 300px;
}

p {
    font-size: 40px;
    color: #888;
}

.form-group {
    margin-left: 27px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

.set {
    padding: 10px;
    padding-left: 25px;
    background-color: rgba(14, 13, 13, 0.5);
    border-radius: 50px;
    height: 28px;
    width: 514px;
    font-size: 18px;
}

.unset {
    padding: 10px;
    padding-left: 25px;
    background-color: rgba(14, 13, 13, 0.5);
    border-radius: 50px;
    height: 28px;
    width: 814px;
    font-size: 18px;
}

.btn {
    margin-left: 27px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff1313;
    width: 426px;
    height: 51px;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff1313;
}

.links {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: center;
}

.links a {
    color: #3446eb;
    font-size: 25px;
    text-decoration: none;
    margin: 0 5px;
}

#acc {
    font-size: 22px;
    margin-right: 8px;
}

#mybatch1 {
    margin-left: 25px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1.2fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
}

.grp-button {
    display: flex;
    color: #fff;
}
