body {
    margin: 0;
    padding: 0;
    height: 668px;
    width: 100%;
    background-image: url("assets/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mainContainer {
    background-color: rgba(14, 13, 13, 0.75);
}
.container {
    color: #ffffff;
    background-attachment: fixed;
    height: 593px;
    padding-left: 230px;
    padding-top: 10px;
    padding-bottom: 22px;
}
img {
    margin-top: 20px;
    margin-left: 20px;
}
.heading {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 35px;
    margin-top: 95px;
    padding-right: 336px;
}

p {
    font-size: 40px;
    color: #888;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 25px;
    font-size: 35px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    padding-left: 25px;
    background-color: rgba(14, 13, 13, 0.5);
    border-radius: 50px;
    height: 31px;
    width: 814px;
    font-size: 25px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff1313;
    width: 847px;
    height: 51px;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff1313;
}

.links {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-around;
}

.links a {
    color: #3446eb;
    font-size: 30px;
    text-decoration: none;
    margin: 0 5px;
}
