* {
    margin: 0;
    padding: 0;
}

.container {
    height: 1689px;
    background-color: rgba(15, 14, 14, 0.96);
}
.navBar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #242424;
    font-size: 17px;
}

.miniContainer {
    color: #fff;
}
.head-1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
}
.content-1 {
    color: #fff;
    margin-left: 282px;
    margin-top: 44px;
    font-size: 30px;
    width: 778px;
}

.logo {
    width: 35px;
}

label {
    display: block;
    margin-bottom: 25px;
    font-size: 35px;
}

input[type="text"] {
    padding: 10px;
    padding-left: 25px;
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 31px;
    width: 814px;
    font-size: 25px;
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff1313;
    width: 107px;
    padding-top: 6px;
    height: 53px;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff1313;
}
.form-grp {
    margin-top: 30px;
    margin-left: 288px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.grid-item {
    background-color: #242424;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
}

.smallBoxHeading {
    color: #fff;
    font-size: 25px;
}

.smallBox {
    color: #ffffffa6;
    font-size: 18px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-right: 130px;
}

.page-link {
    height: 25px;
    padding-top: 20px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    padding: 15px 15px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.page-link.active {
    background-color: #f0f0f0;
}

.page-link:hover {
    background-color: #eee;
}

.searchedTopicHead {
    display: flex;
    justify-content: center;
    font-size: 46px;
}
.searchedDescription {
    color: #ffffffa6;
    margin-left: 284px;
    margin-right: 279px;
    font-size: 30px;
}
